body{background-color:rgb(128, 229, 255);}

#mainBlock{
	margin-top: 5%;
	margin-left: 15%;

}
 header{
            text-align: center;
            font-size: 72px;
            margin-left:-15%;
            line-height: 108px;
            height: 108px;
            background: #335C7D;
            color: #fff;
            font-family: 'PT Sans', sans-serif;
            
            // set animation
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
        
        header.sticky {
            position: fixed;
            font-size: 24px;
            line-height: 48px;
            height: 60px; 
            width: 100%;
            /*background: #efc47D;*/
            opacity: 0.5;
            text-align: left;
            margin-left:6%;
            padding-left: 8px;

        }