body{background-color:rgb(128, 229, 255);}

#mainBlock{
	margin-top: 5%;
	margin-left: 15%;

}
 header{
            text-align: center;
            font-size: 72px;
            margin-left:-15%;
            line-height: 108px;
            height: 108px;
            background: #335C7D;
            color: #fff;
            font-family: 'PT Sans', sans-serif;
            
            // set animation
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
        
        header.sticky {
            position: fixed;
            font-size: 24px;
            line-height: 48px;
            height: 60px; 
            width: 100%;
            /*background: #efc47D;*/
            opacity: 0.5;
            text-align: left;
            margin-left:6%;
            padding-left: 8px;

        }
a:link{
    text-decoration: none;
}
#presentContinent{
    font-family:helvetica;
    color:rgb(0, 0, 102);
    font-size:50px;
    text-align:center;
    margin-left:-10%;
}
.resultBox {
    position:relative;
    width:80%;
    height:auto;
    padding:25px;
    margin-bottom:30px;
    margin-top:30px;
    border:30px;
    border-radius:10%;
    background-color:rgb(204, 255, 255);
}

.locationDescription{
    z-index:100000;
    font-family:helvetica;
    margin-left:10%;
}
   


.img{
    width:100%;
    border-radius:10%;
}